<div class="register form">

        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="text" ng-model="register.username" placeholder="Please enter a Username"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input class="form-control" type="password" ng-model="register.password" placeholder="Please enter a Password"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-control btn btn-primary" ng-click="registerUser()">Register</div>
            </div>
        </div>
    </div>

</div>