/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.glyphicon-chevron-left {
  color: #03A9F4;
}

.glyphicon-chevron-right {
  color: #03A9F4;
}

.glyphicon-facetime-video{
    color: #03A9F4;
}

.carousel-control.right{
    background-image: none;
}

.carousel-control.left {
    background-image: none;
}

.navbar-brand {
  color: #03A9F4;
}

.glyphicon-user{
  color: #03A9F4;
}

